name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  backend-ci:
    name: Backend CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install backend dependencies
        working-directory: app/backend
        run: npm install

      - name: Run backend tests (placeholder)
        working-directory: app/backend
        run: echo "No tests yet"

      - name: Backend dependency security scan
        working-directory: app/backend
        run: npm audit --audit-level=high || true


  frontend-ci:
    name: Frontend CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: app/frontend
        run: npm install

      - name: Build frontend
        working-directory: app/frontend
        run: npm run build

      - name: Frontend dependency security scan
        working-directory: app/frontend
        run: npm audit --audit-level=high || true


  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: [backend-ci, frontend-ci]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Backend Docker image
        run: docker build -t backend:test app/backend

      - name: Build Frontend Docker image
        run: docker build -t frontend:test app/frontend


