name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  backend-ci:
    name: Backend CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install backend dependencies
        working-directory: app/backend
        run: npm install

      - name: Run backend tests (placeholder)
        working-directory: app/backend
        run: echo "No tests yet"

      - name: Backend dependency security scan
        working-directory: app/backend
        run: npm audit --audit-level=high || true


  frontend-ci:
    name: Frontend CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: app/frontend
        run: npm install

      - name: Build frontend
        working-directory: app/frontend
        run: npm run build


